.sign-in {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
  
    .title {
      margin: 10px 0;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      align-items: center;
    }
  }