.add-task {
    width: 300px;
    border-radius: 30px;

    & .formulario {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    & .form-titulo {
        text-align: center;
        margin-bottom: 10px;
    }

    & .form-input {
        margin: 5px 0;
        padding: 10px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #DD7596;
    }

    & .boton {
        padding: 20px;
        font-size: 20px;
        color: white;
        margin-top: 20px;
        background-color: #CF1259;
        border: none;
        border-radius: 20px;
        transition: all .2s ease-in-out; 
    }

    .boton:hover {
        background-color: #A50E48;  
        transform: scale(1.1); 
    }

    .selector-categoria {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .selector {
        width: 150px;
        border: 1px solid #e2eded;
        border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;

        &:focus {
            border: 2px solid #CF1259;
            transition: all ease 0.4s;
            outline: none;
        }
    }
}