.header {
    background-color: #00171F;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .inicio {
        color: white;
    }

    .opciones {
        width: 11%;
        display: flex;
        justify-content: space-between;
    }

    & .option {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .green:hover {
        color: green;
    }
    .sign-out:hover {
        color: red;
    }

}