.header {
    background-color: #37434F;
    padding: 30px;
    font-size: 20px;

    .container {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;

        .inicio {
            color: #B7C3F3;
        }
    
        .opciones {
            width: 20%;
            display: flex;
            justify-content: space-evenly;
        }
    
        & .option {
            color: #B7C3F3;
            text-decoration: none;
            cursor: pointer;
        }
        .green:hover {
            color: #DD7596;
        }
        .sign-out:hover {
            color: #DD7596;
        }
    
    }
    
}